<link rel="stylesheet" href="../static/css/signupstyle.css">

{% block content %}
    <div class="container">
      <h2>Create your WebAppraisal Account </h2>
      <form method="post">
          {% csrf_token %}
          <p>
            <strong>{{ form.username.label_tag }}</strong><br>
            {{ form.username }}
            {% if form.username.help_text %}
              <small style="color: grey">{{ field.username.help_text }}</small>
            {% endif %}
            {% for error in field.username.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>

        <p>
            <strong>{{ form.first_name.label_tag }}</strong><br>
            {{ form.first_name }}
            {% if form.first_name.help_text %}
              <small style="color: grey">{{ field.first_name.help_text }}</small>
            {% endif %}
            {% for error in field.first_name.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>

          <p>
            <strong>{{ form.last_name.label_tag }}</strong><br>
            {{ form.last_name }}
            {% if form.last_name.help_text %}
              <small style="color: grey">{{ field.last_name.help_text }}</small>
            {% endif %}
            {% for error in field.last_name.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>

          <p>
            <strong>{{ form.email.label_tag }}</strong><br>
            {{ form.email }}
            {% if form.email.help_text %}
              <small style="color: grey">{{ field.email.help_text }}</small>
            {% endif %}
            {% for error in field.email.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>

          <p>
            <strong>{{ form.password1.label_tag }}</strong><br>
            {{ form.password1 }}
            {% if form.password1.help_text %}
              <small style="color: grey">{{ field.password1.help_text }}</small>
            {% endif %}
            {% for error in field.password1.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>

          <p>
            <strong>{{ form.password2.label_tag }}</strong><br>
            {{ form.password2 }}
            {% if form.password2.help_text %}
              <small style="color: grey">{{ field.password2.help_text }}</small>
            {% endif %}
            {% for error in field.password2.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>

          <p>
            <strong>{{ form.phone_number.label_tag }} (Optional)<strong/><br>
            {{ form.phone_number }}
            {% if form.phone_number.help_text %}
              <small style="color: grey">{{ field.phone_number.help_text }}</small>
            {% endif %}
            {% for error in field.phone_number.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>

      <div class="custom-select" style="width:200px;">
          <p><strong>I am a(n)...</strong>
                {{ form.user_role }}
                {% if form.user_role.help_text %}
                  <small style="color: grey">{{ field.user_role.help_text }}</small>
                {% endif %}
                {% for error in field.user_role.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
        </p>
      </div>

        <div class="clearfix">
            <button type="submit" class="signupbtn">Sign Up</button>
            <button type="button" class="cancelbtn">Cancel</button>
        </div>
      </form>
    </div>
{% endblock %}