<style type='text/css'>

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
}

input {
	width: 50%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 18px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.8;
}

button:hover {
	opacity:1;
}

.container {
	padding: 16px;
}

.box {
	border-radius: 10px;
	left: 0;
	top: 0;
	width: 15%;
	height: 15%;
	margin: auto;
	background-color: #FFFFFF;
	padding-top: 10px;
}

.georgia-text {
	font-family: Georgia, serif;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
}​

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

.separator {
  margin: 25px 25px 25px 25px;
}

.delete_account {
  background-color: red;
}

.success-msg {
  color: #270;
  background-color: #DFF2BF;
  margin: 25px 25px 25px 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3px 3px 3px 3px;
}

.confirm {
  background-color: white;
  visibility = hidden;
  border-radius:10px;
}

.confirmBtn {
  width:51%;
}

.topnav {
  width:100%;
  height:5%;
  background-color:gray;
  border:1px solid black;
}

.backlink {
  float:right;
  margin-top:10px;
  margin-right:20px;
  margin-left:20px;
  width:5%;
  height:50%;
  border-radius:5px;
  background-color:white;
  text-align:center;
  text-decoration:none;
  min-width:110px;
}



</style>
























